<?xml version="1.0"?>
<configuration>
	<configSections />
	<system.web>
		<authentication mode="Windows"/>
		<httpHandlers />
		<httpModules />
    <compilation debug="true" />
	</system.web>

  
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules />
		<handlers />
	</system.webServer>
</configuration>
